@media (min-width: 1200px) {
  #div-email {
    width: 100%;
  }
}

@media (min-width: 992px) {
  #div-pass {
    width: 100%;
  }
}
.seccionLogin{
  border-right: 10px solid #00a7e6;
  border-left: 10px solid #00a7e6;
}

